<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetonac_intents">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".instagram"
            android:parentActivityName=".sobre"></activity>
        <activity
            android:name=".webmotors"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mercadolivre"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".subb"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".maga"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".americanas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sobre"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Intent1"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>